.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .filterA{
        position: absolute;
        width: 350px;
        height: 45px;
        border-radius: 50%;
        background-color: #fa5fff;
        top: 30%;
        left: 40%;
        filter: blur(100px);
    }

    .filterB{
        position: absolute;
        top: -5%;
        right:-5%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #fa5fff;
        filter: blur(150px);
    }
    .container{
        width: 100%;
        max-width: 900px;
        height: max-content;
        margin-top: 170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title{
            position: relative;
            z-index: 10;
            font-size: clamp(2.5rem,4.5vw,4rem);
            width: 100%;
            max-width: 900px;
            text-align: center;
            
    
            span{
                background-color: #f3ec78;
                background-image: var(--gradient);
                background-size: 70%;
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
                animation: text-animation 2s linear infinite;
            }
        }

        .button{
            font-size: 1.6rem;
            color: #ffffff;
            margin-top: 20px;
            padding: 8px 18px;
            border-radius: 8px;
            border: none;
            background: var(--gradient);
            box-shadow: 0 0 5px 2px #ff131360;
            transition: box-shadow 0.2s linear;

            &:active{
                outline: 3px solid #fff;
            }

            &:hover{
                box-shadow: 0 0 5px 5px #ff13137c;
            }
        }

    }


}

@keyframes text-animation {
    from{background-size: 70%;}
    to{background-size: 200%;}
    
}


