.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .filterA{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #6527BE;
        top: 12%;
        left: 42%;
        filter: blur(110px);
    }

    .filterB{
        position: absolute;
        top:20%;
        left:30%;
        width: 100px;
        height: 300px;
        border-radius: 50%;
        background-color: #45CFDD;
        filter:blur(110px);
        
    }
    .filterC{
        position: absolute;
        top: 35%;
        left:55%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #A7EDE7;
        filter: blur(90px);
    }
    .container{
        width: 100%;
        max-width: 900px;
        height: max-content;
        margin-top: 170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title{
            font-size: clamp(2.5rem,4.5vw,4rem);
            width: 100%;
            max-width: 900px;
            text-align: center;
            
    
            span{
                background-color: #f3ec78;
                background-image: var(--gradient);
                background-size: 70%;
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
                animation: text-animation 2s linear infinite;
            }
        }

        .button{
            font-size: 1.6rem;
            margin-top: 20px;
            padding: 8px 18px;
            border-radius: 8px;
            border: none;
            background: var(--gradient);
            box-shadow: 0 0 5px 2px #bebebe9a;
            transition: box-shadow 0.3s linear;

            &:active{
                outline: 3px solid #fff;
            }

            &:hover{
                box-shadow: 0 0 5px 5px #bebebe9a;
            }
        }

    }


}

@keyframes text-animation {
    from{background-size: 70%;}
    to{background-size: 200%;}
    
}

@keyframes filter-animation{
    from{ transform: rotate(0);}
    to{transform: rotate(360deg);}
}
