.footer{
    width: 100%;
    height: 250px;
    background-color: #272727;
    color: #fff;

    .row-1{
        height: 80%;
        .footer-col{
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                font-size: 1.2rem;
                margin-top: 15px;
                text-align: center;
            }
            a{
                text-decoration: none;
                text-align: center;
                border-bottom: 1px solid transparent;
                color: #cacaca;
                cursor: pointer;

                &:hover{
                    color: var(--hover-color);
                    border-bottom: 1px solid var(--hover-color);
                }
            }
            
        }
    }

    .row-2{

        p{
            text-align: center;
        }
    }
    
}