.ask-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    

    textarea{
        width: 100%;
        height: 150px;
        padding: 8px;
        resize: none;
        border: 1px solid #000;
        outline: none;
        border-radius: 10px;
        

        &:focus{
            box-shadow: 2px 2px 3px 3px rgba(177, 177, 177, 0.3); 
        }
    }

    .ask-form-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .error-msg{
            color: #f00000;
        }
        
    }


   
}